
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
    <div class="credential-message">Login</div>
    <div class = "form-login-user">
      <%=f.text_field :login, placeholder: 'username or email'%>
      <%=f.password_field :password, placeholder: 'password'%>
      <div class="col-md-2">
        <%= f.check_box :remember_me %>
      </div>
      <div class="row">
        <div class="col-md-6 font_family">
          <%= f.label :remember_me %>
        </div>
        <div class="dummy_button">
           <%= f.submit 'Sign in'%>
        </div>
      </div>
      <p class="message-signin"><a>Not registered?</a></p>
    </div>
  </div>
<% end %>
